erDiagram
    software_windows {
        parent aid
        parent software
        related_4 scripts_powershell
        related_2 software_linux
        related_2 cloud
        related_2 scratchpad
    }
    aid {
        child web
        child software_windows
        child aid_cloud_windows
        child aid_web
        child aid_software_windows
        child aid_github_estudos
        child cloud_server_python
        child aid_cloud_server_python
        child aid_tasks
        child cloud_windows
        child github_estudos
        child tasks
    }
    aid ||--|| software_windows : SUBSET_OF
    software {
        child software_mobile
        child linux
        child software_dotfile
        child software_windows
        child mobile
        child aid_software_windows
        child dotfile
        child windows
        child linux_software_dotfile
        child software_linux
        related_2 tasks
    }
    software ||--|| software_windows : SUBSET_OF
    software_mobile {
        parent software
        related_2 iphone
        related_2 linux
    }
    software ||--|| software_mobile : SUBSET_OF
    linux {
        parent software
        child software_dotfile
        child hardware
        child dotfile
        child linux_hardware
        child linux_software_dotfile
        child linux_dotfile
        related_20 scripts
        related_2 iphone
        related_2 iphone_shortcuts
        related_2 hardware_rockchip
        related_2 software_mobile
    }
    software ||--|| linux : SUBSET_OF
    software_dotfile {
        parent linux
        parent software
        related_2 estudos
        related_2 trabalho
    }
    software ||--|| software_dotfile : SUBSET_OF
    mobile {
        parent software
    }
    software ||--|| mobile : SUBSET_OF
    aid_software_windows {
        parent aid
        parent software
    }
    software ||--|| aid_software_windows : SUBSET_OF
    dotfile {
        parent cloud
        parent linux_software
        parent software
        parent linux
    }
    software ||--|| dotfile : SUBSET_OF
    windows {
        parent aid_software
        parent software
        parent aid_cloud
        child hardware_AIDA64
        child windows_hardware_AIDA64
        related_2 scripts_powershell
    }
    software ||--|| windows : SUBSET_OF
    linux_software_dotfile {
        parent linux
        parent software
    }
    software ||--|| linux_software_dotfile : SUBSET_OF
    software_linux {
        parent software
        related_2 software_windows
        related_2 scripts_powershell
        related_2 cloud
    }
    software ||--|| software_linux : SUBSET_OF
    aid_software {
        child windows
    }
    aid_software ||--|| windows : SUBSET_OF
    aid_cloud {
        child server_python
        child windows
    }
    aid_cloud ||--|| windows : SUBSET_OF
    hardware_AIDA64 {
        parent iOS
        parent windows
    }
    windows ||--|| hardware_AIDA64 : SUBSET_OF
    windows_hardware_AIDA64 {
        parent hardware
        parent windows
    }
    windows ||--|| windows_hardware_AIDA64 : SUBSET_OF
    scripts_powershell {
        parent scripts
        related_4 software_windows
        related_2 software_linux
        related_2 windows
        related_2 scripts_python
        related_2 tasks
        related_2 estudos
    }
    scripts {
        child scripts_powershell
        child scripts_google-apps-script
        child scripts_rust
        child scripts_AI
        child scripts_cloud
        child scripts_serverless
        child serverless
        child python
        child scripts_python
        child powershell
        child google-apps-script
        child cloud
        child AI
        child rust
        related_2 estudos
        related_20 linux
        related_2 linux_dotfile
    }
    scripts ||--|| scripts_powershell : SUBSET_OF
    scripts_google-apps-script {
        parent scripts
    }
    scripts ||--|| scripts_google-apps-script : SUBSET_OF
    scripts_rust {
        parent scripts
        related_2 scripts_python
    }
    scripts ||--|| scripts_rust : SUBSET_OF
    scripts_AI {
        parent scripts
    }
    scripts ||--|| scripts_AI : SUBSET_OF
    scripts_cloud {
        parent scripts
        related_2 github
        related_4 scripts_serverless
    }
    scripts ||--|| scripts_cloud : SUBSET_OF
    scripts_serverless {
        parent scripts
        related_4 scripts_cloud
        related_2 github
    }
    scripts ||--|| scripts_serverless : SUBSET_OF
    serverless {
        parent scripts
    }
    scripts ||--|| serverless : SUBSET_OF
    python {
        parent scripts
        parent aid_cloud_server
    }
    scripts ||--|| python : SUBSET_OF
    scripts_python {
        parent scripts
        related_2 scripts_powershell
        related_2 tasks
        related_2 scripts_rust
    }
    scripts ||--|| scripts_python : SUBSET_OF
    powershell {
        parent scripts
    }
    scripts ||--|| powershell : SUBSET_OF
    google-apps-script {
        parent scripts
    }
    scripts ||--|| google-apps-script : SUBSET_OF
    cloud {
        parent scripts
        child cloud_dotfile
        child dotfile
        child aid_cloud_windows
        child aid_cloud_server_python
        related_2 software_linux
        related_2 software_windows
    }
    scripts ||--|| cloud : SUBSET_OF
    AI {
        parent scripts
        child prompt
        child AI_prompt
        child LLM
        child AI_LLM
    }
    scripts ||--|| AI : SUBSET_OF
    rust {
        parent scripts
    }
    scripts ||--|| rust : SUBSET_OF
    cloud_dotfile {
        parent cloud
        related_2 estudos
        related_2 trabalho
    }
    cloud ||--|| cloud_dotfile : SUBSET_OF
    cloud ||--|| dotfile : SUBSET_OF
    aid_cloud_windows {
        parent cloud
        parent aid
    }
    cloud ||--|| aid_cloud_windows : SUBSET_OF
    aid_cloud_server_python {
        parent cloud
        parent aid
        parent server
    }
    cloud ||--|| aid_cloud_server_python : SUBSET_OF
    linux_dotfile {
        parent linux
        related_2 hardware_rockchip
        related_2 scripts
    }
    linux ||--|| linux_dotfile : SUBSET_OF
    linux ||--|| software_dotfile : SUBSET_OF
    hardware {
        parent linux
        parent estudos
        child android_hardware_raspberry
        child hardware_rockchip
        child raspberry
        child windows_hardware_AIDA64
        child hardware_raspberry
        child rockchip
        child iOS_hardware_AIDA64
        related_2 aid_tasks
    }
    linux ||--|| hardware : SUBSET_OF
    linux ||--|| dotfile : SUBSET_OF
    linux_hardware {
        parent linux
    }
    linux ||--|| linux_hardware : SUBSET_OF
    linux ||--|| linux_software_dotfile : SUBSET_OF
    linux_software {
        child dotfile
    }
    linux_software ||--|| dotfile : SUBSET_OF
    hardware_rockchip {
        parent hardware
        related_2 linux_dotfile
        related_2 linux
    }
    hardware ||--|| hardware_rockchip : SUBSET_OF
    estudos {
        parent aid_github
        child estudos_hardware
        child hardware
        related_2 scripts
        related_6 trabalho
        related_2 cloud_dotfile
        related_2 software_dotfile
        related_2 scripts_powershell
    }
    estudos ||--|| hardware : SUBSET_OF
    android_hardware_raspberry {
        parent hardware
        parent android
        related_2 scratchpad
    }
    hardware ||--|| android_hardware_raspberry : SUBSET_OF
    raspberry {
        parent hardware
        parent android_hardware
    }
    hardware ||--|| raspberry : SUBSET_OF
    hardware ||--|| windows_hardware_AIDA64 : SUBSET_OF
    hardware_raspberry {
        parent hardware
        parent android
    }
    hardware ||--|| hardware_raspberry : SUBSET_OF
    rockchip {
        parent hardware
    }
    hardware ||--|| rockchip : SUBSET_OF
    iOS_hardware_AIDA64 {
        parent hardware
        parent iOS
    }
    hardware ||--|| iOS_hardware_AIDA64 : SUBSET_OF
    scratchpad {
        related_8 AI_prompt
        related_2 tasks_mlo
        related_2 trabalho
        related_2 android_hardware_raspberry
        related_2 software_windows
    }
    AI_prompt {
        parent AI
        related_8 scratchpad
        related_2 trabalho
        related_2 tasks
        related_2 fatherhood
    }
    AI ||--|| AI_prompt : SUBSET_OF
    prompt {
        parent AI
    }
    AI ||--|| prompt : SUBSET_OF
    LLM {
        parent AI
    }
    AI ||--|| LLM : SUBSET_OF
    AI_LLM {
        parent AI
    }
    AI ||--|| AI_LLM : SUBSET_OF
    tools {
    }
    despesas {
    }
    rendimentos {
    }
    maybe {
    }
    aid_github {
        child estudos
    }
    aid_github ||--|| estudos : SUBSET_OF
    estudos_hardware {
        parent estudos
        related_2 tasks
    }
    estudos ||--|| estudos_hardware : SUBSET_OF
    calls {
    }
    android {
        child android_hardware_raspberry
        child hardware_raspberry
    }
    android ||--|| hardware_raspberry : SUBSET_OF
    android_hardware {
        child raspberry
    }
    android_hardware ||--|| raspberry : SUBSET_OF
    fatherhood {
        related_2 AI_prompt
    }
    tasks_mlo {
        parent tasks
        related_2 scratchpad
        related_2 iphone_shortcuts
    }
    tasks {
        parent aid
        child mlo
        child tasks_mlo
        related_2 software
        related_2 scripts_powershell
        related_2 scripts_python
        related_2 estudos_hardware
        related_2 AI_prompt
    }
    tasks ||--|| tasks_mlo : SUBSET_OF
    aid ||--|| tasks : SUBSET_OF
    mlo {
        parent tasks
    }
    tasks ||--|| mlo : SUBSET_OF
    spirit {
        related_2 admoestacao
    }
    trabalho {
        related_6 estudos
        related_2 cloud_dotfile
        related_2 software_dotfile
        related_2 scratchpad
        related_2 AI_prompt
    }
    edital_direito_processual-penal {
        parent direito
        parent edital
    }
    direito {
        parent edital
        child edital_direito_processual-penal
    }
    direito ||--|| edital_direito_processual-penal : SUBSET_OF
    edital {
        child edital_direito
        child direito_processual-penal
        child edital_direito_processual-penal
        child direito
    }
    edital ||--|| edital_direito_processual-penal : SUBSET_OF
    edital_direito {
        parent edital
        child processual-penal
    }
    edital ||--|| edital_direito : SUBSET_OF
    direito_processual-penal {
        parent edital
    }
    edital ||--|| direito_processual-penal : SUBSET_OF
    edital ||--|| direito : SUBSET_OF
    processual-penal {
        parent edital_direito
    }
    edital_direito ||--|| processual-penal : SUBSET_OF
    aid_cloud_server {
        child python
    }
    aid_cloud_server ||--|| python : SUBSET_OF
    iphone {
        child shortcuts
        child iphone_shortcuts
        related_2 software_mobile
        related_2 linux
    }
    shortcuts {
        parent iphone
    }
    iphone ||--|| shortcuts : SUBSET_OF
    iphone_shortcuts {
        parent iphone
        related_2 linux
        related_2 tasks_mlo
    }
    iphone ||--|| iphone_shortcuts : SUBSET_OF
    aid ||--|| aid_software_windows : SUBSET_OF
    web {
        parent aid
    }
    aid ||--|| web : SUBSET_OF
    aid ||--|| aid_cloud_windows : SUBSET_OF
    aid_web {
        parent aid
    }
    aid ||--|| aid_web : SUBSET_OF
    aid_github_estudos {
        parent github
        parent aid
    }
    aid ||--|| aid_github_estudos : SUBSET_OF
    cloud_server_python {
        parent aid
    }
    aid ||--|| cloud_server_python : SUBSET_OF
    aid ||--|| aid_cloud_server_python : SUBSET_OF
    aid_tasks {
        parent aid
        related_2 hardware
    }
    aid ||--|| aid_tasks : SUBSET_OF
    cloud_windows {
        parent aid
    }
    aid ||--|| cloud_windows : SUBSET_OF
    github_estudos {
        parent aid
    }
    aid ||--|| github_estudos : SUBSET_OF
    receitas {
    }
    assistir {
    }
    sell {
    }
    chess {
    }
    health {
    }
    carro {
    }
    misc {
    }
    admoestacao {
        related_2 spirit
    }
    server {
        child aid_cloud_server_python
    }
    server ||--|| aid_cloud_server_python : SUBSET_OF
    server_python {
        parent aid_cloud
    }
    aid_cloud ||--|| server_python : SUBSET_OF
    cloud_server {
    }
    AIDA64 {
        parent windows_hardware
        parent iOS_hardware
    }
    windows_hardware {
        child AIDA64
    }
    windows_hardware ||--|| AIDA64 : SUBSET_OF
    iOS_hardware {
        child AIDA64
    }
    iOS_hardware ||--|| AIDA64 : SUBSET_OF
    iOS {
        child hardware_AIDA64
        child iOS_hardware_AIDA64
    }
    iOS ||--|| hardware_AIDA64 : SUBSET_OF
    android ||--|| android_hardware_raspberry : SUBSET_OF
    github {
        child jekyll
        child aid_github_estudos
        child github_jekyll
        related_2 scripts_cloud
        related_2 scripts_serverless
    }
    jekyll {
        parent github
    }
    github ||--|| jekyll : SUBSET_OF
    github ||--|| aid_github_estudos : SUBSET_OF
    github_jekyll {
        parent github
    }
    github ||--|| github_jekyll : SUBSET_OF
    ler {
    }
    iOS ||--|| iOS_hardware_AIDA64 : SUBSET_OF