erDiagram
    linux {
        parent software
        child dotfile
        child linux_hardware
        child linux_dotfile
        child hardware
        related_22 scripts
        related_2 software_mobile
        related_2 iphone_shortcuts
        related_2 iphone
    }
    software {
        child software_dotfile
        child dotfile
        child software_windows
        child software_mobile
        child software_linux
        child windows
        child mobile
        child linux
        related_2 tasks
    }
    software ||--|| linux : SUBSET_OF
    dotfile {
        parent software
        parent cloud
        parent linux
    }
    linux ||--|| dotfile : SUBSET_OF
    linux_hardware {
        parent linux
    }
    linux ||--|| linux_hardware : SUBSET_OF
    linux_dotfile {
        parent linux
        related_2 scripts
        related_2 hardware
    }
    linux ||--|| linux_dotfile : SUBSET_OF
    hardware {
        parent estudos
        parent linux
        related_2 linux_dotfile
    }
    linux ||--|| hardware : SUBSET_OF
    scripts {
        child google-apps-script
        child scripts_mobile
        child scripts_AI
        child scripts_powershell
        child scripts_google-apps-script
        child AI
        child powershell
        child scripts_cloud
        child mobile
        child cloud
        related_22 linux
        related_2 linux_dotfile
        related_2 estudos
    }
    google-apps-script {
        parent scripts
    }
    scripts ||--|| google-apps-script : SUBSET_OF
    scripts_mobile {
        parent scripts
        related_2 iphone
    }
    scripts ||--|| scripts_mobile : SUBSET_OF
    scripts_AI {
        parent scripts
    }
    scripts ||--|| scripts_AI : SUBSET_OF
    scripts_powershell {
        parent scripts
        related_2 software_windows
    }
    scripts ||--|| scripts_powershell : SUBSET_OF
    scripts_google-apps-script {
        parent scripts
    }
    scripts ||--|| scripts_google-apps-script : SUBSET_OF
    AI {
        parent scripts
        child AI_LLM
        child LLM
        child AI_prompt
        child prompt
    }
    scripts ||--|| AI : SUBSET_OF
    powershell {
        parent scripts
    }
    scripts ||--|| powershell : SUBSET_OF
    scripts_cloud {
        parent scripts
        related_2 tools
        related_2 tools_github
    }
    scripts ||--|| scripts_cloud : SUBSET_OF
    mobile {
        parent software
        parent scripts
    }
    scripts ||--|| mobile : SUBSET_OF
    cloud {
        parent scripts
        child dotfile
        child cloud_dotfile
        related_2 software_linux
        related_2 software_windows
        related_2 tools
    }
    scripts ||--|| cloud : SUBSET_OF
    software ||--|| dotfile : SUBSET_OF
    cloud ||--|| dotfile : SUBSET_OF
    calls {
    }
    rendimentos {
    }
    tools {
        child tools_github_estudos
        child github
        child tools_github
        child github_estudos
        related_2 scripts_cloud
        related_2 cloud
    }
    tools_github_estudos {
        parent github
        parent tools
    }
    tools ||--|| tools_github_estudos : SUBSET_OF
    github {
        parent tools
        child tools_github_estudos
        child jekyll
        child github_jekyll
    }
    tools ||--|| github : SUBSET_OF
    tools_github {
        parent tools
        child estudos
        related_2 scripts_cloud
    }
    tools ||--|| tools_github : SUBSET_OF
    github_estudos {
        parent tools
    }
    tools ||--|| github_estudos : SUBSET_OF
    AI_prompt {
        parent AI
        related_2 trabalho
    }
    AI ||--|| AI_prompt : SUBSET_OF
    AI_LLM {
        parent AI
    }
    AI ||--|| AI_LLM : SUBSET_OF
    LLM {
        parent AI
    }
    AI ||--|| LLM : SUBSET_OF
    prompt {
        parent AI
    }
    AI ||--|| prompt : SUBSET_OF
    estudos {
        parent tools_github
        child estudos_hardware
        child hardware
        related_2 scripts
        related_6 trabalho
        related_2 cloud_dotfile
        related_2 software_dotfile
    }
    tools_github ||--|| estudos : SUBSET_OF
    estudos_hardware {
        parent estudos
        related_2 tasks
    }
    estudos ||--|| estudos_hardware : SUBSET_OF
    estudos ||--|| hardware : SUBSET_OF
    edital_direito {
        parent edital
        child processual-penal
    }
    edital {
        child direito_processual-penal
        child edital_direito
        child edital_direito_processual-penal
        child direito
    }
    edital ||--|| edital_direito : SUBSET_OF
    processual-penal {
        parent edital_direito
    }
    edital_direito ||--|| processual-penal : SUBSET_OF
    direito_processual-penal {
        parent edital
    }
    edital ||--|| direito_processual-penal : SUBSET_OF
    edital_direito_processual-penal {
        parent edital
        parent direito
    }
    edital ||--|| edital_direito_processual-penal : SUBSET_OF
    direito {
        parent edital
        child edital_direito_processual-penal
    }
    edital ||--|| direito : SUBSET_OF
    direito ||--|| edital_direito_processual-penal : SUBSET_OF
    tasks {
        child iphone
        child tasks_iphone
        related_2 mlo
        related_2 estudos_hardware
        related_2 software
    }
    iphone {
        parent tasks
        child iphone_shortcuts
        child shortcuts
        related_2 software_mobile
        related_2 scripts_mobile
        related_2 linux
    }
    tasks ||--|| iphone : SUBSET_OF
    tasks_iphone {
        parent tasks
    }
    tasks ||--|| tasks_iphone : SUBSET_OF
    fatherhood {
    }
    software_mobile {
        parent software
        related_2 iphone
        related_2 linux
    }
    software ||--|| software_mobile : SUBSET_OF
    software_dotfile {
        parent software
        related_2 estudos
        related_2 trabalho
    }
    software ||--|| software_dotfile : SUBSET_OF
    software_windows {
        parent software
        related_2 scripts_powershell
        related_2 cloud
    }
    software ||--|| software_windows : SUBSET_OF
    software_linux {
        parent software
        related_2 cloud
    }
    software ||--|| software_linux : SUBSET_OF
    windows {
        parent software
    }
    software ||--|| windows : SUBSET_OF
    software ||--|| mobile : SUBSET_OF
    iphone_shortcuts {
        parent iphone
        related_2 linux
    }
    iphone ||--|| iphone_shortcuts : SUBSET_OF
    shortcuts {
        parent iphone
    }
    iphone ||--|| shortcuts : SUBSET_OF
    carro {
    }
    cloud_dotfile {
        parent cloud
        related_2 estudos
        related_2 trabalho
    }
    cloud ||--|| cloud_dotfile : SUBSET_OF
    saude {
    }
    trabalho {
        related_6 estudos
        related_2 cloud_dotfile
        related_2 AI_prompt
        related_2 software_dotfile
    }
    mlo {
        related_2 tasks
    }
    assistir {
    }
    despesas {
    }
    ler {
    }
    misc {
    }
    sell {
    }
    scratchpad_gemini {
        parent scratchpad
    }
    scratchpad {
        child scratchpad_gemini
        child gemini
    }
    scratchpad ||--|| scratchpad_gemini : SUBSET_OF
    gemini {
        parent scratchpad
    }
    scratchpad ||--|| gemini : SUBSET_OF
    receitas {
    }
    spirit {
        related_2 admoestacao
    }
    github ||--|| tools_github_estudos : SUBSET_OF
    jekyll {
        parent github
    }
    github ||--|| jekyll : SUBSET_OF
    github_jekyll {
        parent github
    }
    github ||--|| github_jekyll : SUBSET_OF
    admoestacao {
        related_2 spirit
    }
    chess {
    }