erDiagram
    spirit {
        related_2 admoestacao
    }
    admoestacao {
        related_2 spirit
    }
    windows {
        parent software
        parent aid_cloud
        related_2 scripts_powershell
    }
    software {
        child software_dotfile
        child software_windows
        child linux
        child windows
        child software_linux
        child dotfile
        child software_mobile
        child mobile
        related_2 tasks
    }
    software ||--|| windows : SUBSET_OF
    aid_cloud {
        child windows
    }
    aid_cloud ||--|| windows : SUBSET_OF
    rendimentos {
    }
    tools {
    }
    trabalho {
        related_2 AI_prompt
        related_6 estudos
        related_2 software_dotfile
        related_2 cloud_dotfile
    }
    calls {
    }
    scripts {
        child python
        child scripts_AI
        child scripts_google-apps-script
        child cloud
        child powershell
        child scripts_powershell
        child serverless
        child scripts_python
        child scripts_serverless
        child scripts_cloud
        child google-apps-script
        child AI
        related_2 estudos
        related_22 linux
        related_2 linux_dotfile
    }
    python {
        parent scripts
    }
    scripts ||--|| python : SUBSET_OF
    scripts_AI {
        parent scripts
    }
    scripts ||--|| scripts_AI : SUBSET_OF
    scripts_google-apps-script {
        parent scripts
    }
    scripts ||--|| scripts_google-apps-script : SUBSET_OF
    cloud {
        parent scripts
        child cloud_dotfile
        child dotfile
        child aid_cloud_windows
        related_2 software_linux
        related_2 software_windows
    }
    scripts ||--|| cloud : SUBSET_OF
    powershell {
        parent scripts
    }
    scripts ||--|| powershell : SUBSET_OF
    scripts_powershell {
        parent scripts
        related_2 software_linux
        related_6 software_windows
        related_2 windows
        related_2 estudos
        related_2 scripts_python
        related_2 tasks
    }
    scripts ||--|| scripts_powershell : SUBSET_OF
    serverless {
        parent scripts
    }
    scripts ||--|| serverless : SUBSET_OF
    scripts_python {
        parent scripts
        related_2 scripts_powershell
        related_2 tasks
    }
    scripts ||--|| scripts_python : SUBSET_OF
    scripts_serverless {
        parent scripts
        related_4 scripts_cloud
        related_2 github
    }
    scripts ||--|| scripts_serverless : SUBSET_OF
    scripts_cloud {
        parent scripts
        related_2 github
        related_4 scripts_serverless
    }
    scripts ||--|| scripts_cloud : SUBSET_OF
    google-apps-script {
        parent scripts
    }
    scripts ||--|| google-apps-script : SUBSET_OF
    AI {
        parent scripts
        child AI_LLM
        child AI_prompt
        child prompt
        child LLM
    }
    scripts ||--|| AI : SUBSET_OF
    software_linux {
        parent software
        related_2 software_windows
        related_2 scripts_powershell
        related_2 cloud
    }
    software ||--|| software_linux : SUBSET_OF
    software_dotfile {
        parent software
        related_2 estudos
        related_2 trabalho
    }
    software ||--|| software_dotfile : SUBSET_OF
    software_windows {
        parent software
        related_2 software_linux
        related_6 scripts_powershell
        related_2 cloud
        related_2 scratchpad
    }
    software ||--|| software_windows : SUBSET_OF
    linux {
        parent software
        child linux_hardware
        child linux_dotfile
        child dotfile
        child hardware
        related_2 hardware_rockchip
        related_22 scripts
        related_2 software_mobile
        related_2 iphone
        related_2 iphone_shortcuts
    }
    software ||--|| linux : SUBSET_OF
    dotfile {
        parent software
        parent linux
        parent cloud
    }
    software ||--|| dotfile : SUBSET_OF
    software_mobile {
        parent software
        related_2 linux
        related_2 iphone
    }
    software ||--|| software_mobile : SUBSET_OF
    mobile {
        parent software
    }
    software ||--|| mobile : SUBSET_OF
    linux_hardware {
        parent linux
    }
    linux ||--|| linux_hardware : SUBSET_OF
    linux_dotfile {
        parent linux
        related_2 scripts
        related_2 hardware_rockchip
    }
    linux ||--|| linux_dotfile : SUBSET_OF
    linux ||--|| dotfile : SUBSET_OF
    hardware {
        parent estudos
        parent linux
        child android_hardware_raspberry
        child hardware_rockchip
        child rockchip
        related_2 aid_tasks
    }
    linux ||--|| hardware : SUBSET_OF
    AI_prompt {
        parent AI
        related_2 fatherhood
        related_2 trabalho
        related_2 tasks
    }
    AI ||--|| AI_prompt : SUBSET_OF
    AI_LLM {
        parent AI
    }
    AI ||--|| AI_LLM : SUBSET_OF
    prompt {
        parent AI
    }
    AI ||--|| prompt : SUBSET_OF
    LLM {
        parent AI
    }
    AI ||--|| LLM : SUBSET_OF
    estudos {
        parent aid_github
        child estudos_hardware
        child hardware
        related_2 scripts
        related_2 scripts_powershell
        related_6 trabalho
        related_2 software_dotfile
        related_2 cloud_dotfile
    }
    aid_github {
        child estudos
    }
    aid_github ||--|| estudos : SUBSET_OF
    estudos_hardware {
        parent estudos
        related_2 tasks
    }
    estudos ||--|| estudos_hardware : SUBSET_OF
    estudos ||--|| hardware : SUBSET_OF
    ler {
    }
    scratchpad {
        related_2 software_windows
    }
    android_hardware_raspberry {
        parent android
        parent hardware
    }
    hardware ||--|| android_hardware_raspberry : SUBSET_OF
    hardware_rockchip {
        parent hardware
        related_2 linux
        related_2 linux_dotfile
    }
    hardware ||--|| hardware_rockchip : SUBSET_OF
    rockchip {
        parent hardware
    }
    hardware ||--|| rockchip : SUBSET_OF
    sell {
    }
    cloud ||--|| dotfile : SUBSET_OF
    carro {
    }
    tasks_mlo {
        parent tasks
        related_2 iphone_shortcuts
    }
    tasks {
        parent aid
        child tasks_mlo
        child mlo
        related_2 software
        related_2 estudos_hardware
        related_2 AI_prompt
        related_2 scripts_powershell
        related_2 scripts_python
    }
    tasks ||--|| tasks_mlo : SUBSET_OF
    aid {
        child tasks
        child github_estudos
        child aid_tasks
        child aid_cloud_windows
        child aid_github_estudos
        child web
        child aid_web
        child cloud_windows
    }
    aid ||--|| tasks : SUBSET_OF
    mlo {
        parent tasks
    }
    tasks ||--|| mlo : SUBSET_OF
    fatherhood {
        related_2 AI_prompt
    }
    cloud_dotfile {
        parent cloud
        related_2 estudos
        related_2 trabalho
    }
    cloud ||--|| cloud_dotfile : SUBSET_OF
    aid_cloud_windows {
        parent aid
        parent cloud
    }
    cloud ||--|| aid_cloud_windows : SUBSET_OF
    edital_direito_processual-penal {
        parent direito
        parent edital
    }
    direito {
        parent edital
        child edital_direito_processual-penal
    }
    direito ||--|| edital_direito_processual-penal : SUBSET_OF
    edital {
        child edital_direito
        child edital_direito_processual-penal
        child direito
        child direito_processual-penal
    }
    edital ||--|| edital_direito_processual-penal : SUBSET_OF
    edital_direito {
        parent edital
        child processual-penal
    }
    edital ||--|| edital_direito : SUBSET_OF
    edital ||--|| direito : SUBSET_OF
    direito_processual-penal {
        parent edital
    }
    edital ||--|| direito_processual-penal : SUBSET_OF
    processual-penal {
        parent edital_direito
    }
    edital_direito ||--|| processual-penal : SUBSET_OF
    aid_web {
        parent aid
    }
    aid ||--|| aid_web : SUBSET_OF
    github_estudos {
        parent aid
    }
    aid ||--|| github_estudos : SUBSET_OF
    aid_tasks {
        parent aid
        related_2 hardware
    }
    aid ||--|| aid_tasks : SUBSET_OF
    aid ||--|| aid_cloud_windows : SUBSET_OF
    aid_github_estudos {
        parent github
        parent aid
    }
    aid ||--|| aid_github_estudos : SUBSET_OF
    web {
        parent aid
    }
    aid ||--|| web : SUBSET_OF
    cloud_windows {
        parent aid
    }
    aid ||--|| cloud_windows : SUBSET_OF
    assistir {
    }
    android {
        child android_hardware_raspberry
        child hardware_raspberry
    }
    android ||--|| android_hardware_raspberry : SUBSET_OF
    hardware_raspberry {
        parent android
    }
    android ||--|| hardware_raspberry : SUBSET_OF
    raspberry {
        parent android_hardware
    }
    android_hardware {
        child raspberry
    }
    android_hardware ||--|| raspberry : SUBSET_OF
    saude {
    }
    iphone {
        child shortcuts
        child iphone_shortcuts
        related_2 linux
        related_2 software_mobile
    }
    shortcuts {
        parent iphone
    }
    iphone ||--|| shortcuts : SUBSET_OF
    iphone_shortcuts {
        parent iphone
        related_2 tasks_mlo
        related_2 linux
    }
    iphone ||--|| iphone_shortcuts : SUBSET_OF
    chess {
    }
    misc {
    }
    despesas {
    }
    github {
        child github_jekyll
        child aid_github_estudos
        child jekyll
        related_2 scripts_cloud
        related_2 scripts_serverless
    }
    github_jekyll {
        parent github
    }
    github ||--|| github_jekyll : SUBSET_OF
    github ||--|| aid_github_estudos : SUBSET_OF
    jekyll {
        parent github
    }
    github ||--|| jekyll : SUBSET_OF
    receitas {
    }