<nav class="toc">
{% assign content_html = content | replace: '<pre class="highlight"><code>', '<section><code>' | replace: '</code></pre>', '</code></section>' | strip %}
{% assign headers = content_html | split: "<h" %}
{% assign toc_html = "" %}
{% assign current_level = 0 %}
{% assign min_level = include.h_min | default: 1 %}
{% assign max_level = include.h_max | default: 6 %}
{% if include.ordered == true %}
  {% assign list_tag = "ol" %}
{% else %}
  {% assign list_tag = "ul" %}
{% endif %}

{% for header in headers %}
  {% if forloop.first %}
    {% assign toc_html = toc_html | append: header %}
    {% continue %}
  {% endif %}

  {% assign level_char = header | slice: 0, 1 %}
  {% assign header_level = level_char | plus: 0 %}

  {% if header_level < min_level or header_level > max_level %}
    {% assign toc_html = toc_html | append: "<h" | append: header %}
    {% continue %}
  {% endif %}

  {% capture header_text_chunk %}
    {{ header | split: "</h" | first | remove: level_char | remove_first: ">" }}
  {% endcapture %}
  {% assign header_text = header_text_chunk | strip_html | strip %}
  {% if header_text == "" %}
    {% assign header_id = "section-" | append: forloop.index %}
  {% else %}
    {% assign header_id = header_text | slugify %}
  {% endif %}

  {% if current_level == 0 %}
    {% assign toc_html = toc_html | append: '<' | append: list_tag | append: '>' | append: '<li><a href="#' | append: header_id | append: '">' | append: header_text | append: '</a></li>' %}
    {% assign current_level = header_level %}
  {% else %}
    {% if header_level > current_level %}
      {% assign toc_html = toc_html | append: '<' | append: list_tag | append: '>' | append: '<li><a href="#' | append: header_id | append: '">' | append: header_text | append: '</a></li>' %}
      {% assign current_level = header_level %}
    {% elsif header_level < current_level %}
      {% assign diff = current_level | minus: header_level %}
      {% for i in (1..diff) %}
        {% assign toc_html = toc_html | append: '</li></' | append: list_tag | append: '>' %}
      {% endfor %}
      {% assign toc_html = toc_html | append: '<li><a href="#' | append: header_id | append: '">' | append: header_text | append: '</a></li>' %}
      {% assign current_level = header_level %}
    {% else %}
      {% assign toc_html = toc_html
        | append: '</li><li><a href="#'
        | append: header_id
        | append: '">'
        | append: header_text
        | append: '</a>' %}
    {% endif %}
  {% endif %}

  {% assign remainder = header | split: "</h" | last %}
  {% assign toc_html = toc_html | append: "</h" | append: remainder %}
{% endfor %}

{% if current_level > 0 %}
    {% for i in (1..current_level) %}
        {% assign toc_html = toc_html | append: '</li></' | append: list_tag | append: '>' %}
    {% endfor %}
{% endif %}

{{ toc_html }}
</nav>
