<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if page.id == "home" %}
      {{ site.title | strip_html | strip }}
    {% else %}
      {{ page.title | strip_html | strip }} — {{ site.title | strip_html | strip }}
    {% endif %}
  </title>
  <link rel="canonical" href="{{ page.canonical_url | default: page.url | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | strip_html | strip }}" href="{{ '/rss.xml' | absolute_url }}">
  {% if site.favicons %}
    {% for icon in site.favicons %}
      <link rel="{{ icon.rel }}" sizes="{{ icon.sizes }}" href="{{ icon.href | relative_url }}">
    {% endfor %}
  {% endif %}
  <link href="{{ '/style.css' | relative_url }}" rel="stylesheet">
</head>
<body class="post-content-body">
  <header class="header-container">
    <nav aria-label="Main navigation" class="header-content">
        <a href="{{ '/' | relative_url }}" aria-label="Home">
          <img src="{{ '/favicon.ico' | relative_url }}" alt="Home" class="favicon search-link" width="32" height="32" loading="lazy">
        </a>
        <a href="{{ '/tags' | relative_url }}" aria-label="Tags">
          <img src="{{ '/assets/Label.gif' | relative_url }}" alt="Tags" class="favicon search-link" width="32" height="32" loading="lazy">
        </a>
        <a href="{{ '/archive' | relative_url }}" aria-label="Archive">
          <img src="{{ '/assets/Loose_Stone_Pile.gif' | relative_url }}" alt="Archive" class="favicon search-link" width="32" height="32" loading="lazy">
        </a>
        <a href="{{ '/events' | relative_url }}" aria-label="Events">
          <img src="{{ '/assets/Paralyse_Rune.gif' | relative_url }}" alt="Events" class="favicon search-link" width="32" height="32" loading="lazy">
        </a>
      </nav>
  </header>
  <main class="content">
    {{ content }}
  </main>
  <footer id="bottom-of-page" class="site-footer">
    <p><a href="#" aria-label="Back to top"><img src="{{ '/assets/Rope_(Old).gif' | relative_url }}" alt="Back to top" width="32" height="32" loading="lazy"></a>{% assign current_time = site.time | date: '%s' %}{% assign offset_seconds = 3 | times: 60 | times: 60 %}{% assign adjusted_time = current_time | minus: offset_seconds %}<a href="https://ib.bsb.br/404" aria-label="404">{{ adjusted_time | date: '%Y-%m-%d %H:%M:%S' }}</a>‎ &hArr;‎ <a href="https://github.com/ib-bsb-br/ib-bsb-br.github.io" aria-label="GitHub">&#8505;</a>‎ <a href="{{ '/' | relative_url }}" aria-label="Homepage">{{ site.title | strip_html | strip }}</a></p>
  </footer>
  <script src="{{ '/assets/js/prism.js' | relative_url }}" defer></script>
</body>
</html>
